{% extends 'base.html.twig' %}

{% block title %}Static Page{% endblock %}

{% block body %}


    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <a class="btn btn-secondary btn-lg col-6" href="{{ path('app_event_index') }}" style="box-shadow: 0 0.5rem 1rem rgba(255, 193, 7, 0.5);">Please click here to go our Main page</a>
    </div>

{% endblock %}